/* BASIC STYLES HERE */
.tower-img {
    height: 20dvh;
    object-fit: cover;
    object-position: center;
}

.red-text {

    color: red;

}

.about {
    background-color: orange;
}

#hero-img {
    height: 50dvh;
}

#navbar {
    position: sticky;
    top: 0;
    z-index: 1020;
}

#ew-logo {
    height: 15dvh;
    object-fit: cover;
    object-position: center;
}

#contact-img {
    height: 20dhv;
    width: 10dvw;
}