<div class="container-fluid bg-white">
  <div class="row ">
    <div class="col-6">
      <p>Welcome to my Page</p>
      <h1>Hello, I'm Blaze </h1>
      <h1>Full Stack Web Developer</h1>
      <p>Professional developer with a passion for learning new things and building useful apps.</p>
      <p>I have a passion for computer coding and have thought about learning to code for most of my life and
        finally decided to learn and went to a bootcamp and got my foundation in coding.
      </p>
      <button class="btn btn-outline-primary" onClick="document.getElementById('').scrollIntoView();">My
        Portfolio</button>
      <button class="btn btn-outline-danger" onClick="document.getElementById('').scrollIntoView();">Contact
        Me</button>
      <div>
        <a href="https://www.linkedin.com/in/blaze-jeppesen/" target=”_blank”>
          <i class="mdi mdi-linkedin fs-1 ms-3"></i>
        </a>

        <a href="https://github.com/blazej686" target=”_blank”>
          <i class="mdi mdi-github fs-1 ms-3"></i>
        </a>

      </div>
    </div>

    <div class="col-6">
      <img id="hero-img" class="img-fluid rounded mt-2" src="/assets/img/Blaze-Jeppesen.jpg" alt="Blaze Jeppesen">
    </div>
  </div>

  <!-- Skills Section -->

  <section class="row bg-primary text-light justify-content-center p-3" id="skills">
    <div class="text-center">
      <h2>My Skills</h2>
    </div>
    <div class="col-12 col-md-6 d-flex justify-content-center bg-danger ">
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>BootStrap</li>
        <li>Vue.JS</li>
        <li>.NET</li>
        <li>MySQL</li>
        <li>C#</li>
        <li>Node</li>
        <li>REST APIs</li>
        <li>Git</li>
        <li>CI/CD</li>
      </ul>
    </div>

    <div class="col-12 col-md-6 d-flex justify-content-center bg-danger ">
      <ul>
        <li>AWS</li>
        <li>OOP</li>
        <li>MVC</li>
        <li>MongoDB</li>
        <li></li>
        <li>MySQL</li>
        <li>C#</li>
        <li>Node</li>
        <li>REST APIs</li>
        <li>Git</li>
        <li>CI/CD</li>
      </ul>


  </section>

  <section id="portfolio" class="row">
    <h2 class="text-dark">Apps I have made</h2>
    <div class="col-12 col-md-6">
      <a class="text-dark" target="_blank" href="https://keeper.blazejeppesen.com"><img
          src="/assets/img/keeper-logo.png" alt="Keeper Logo"></a>

      <p class="text-dark">Keeper Application</p>
      <p class="text-dark">An application I made as the final in 12th of 13 week bootcamp course. It is built with Vue
        on the frontend and .Net C# in the backend and a my SQL database. </p>
    </div>
    <div class="col-12 col-md-6">
      <a target="_blank" href="https://tower.blazejeppesen.com"><img class="tower-img rounded"
          src="/assets/img/fakeLogo.jpg" alt="Tower Image"></a>
      <p class="text-dark">Tower Application</p>
      <p class="text-dark">This application was the midterm of sorts of the bootcamp and it is built with Vue on the
        frontend and using a backend that is node and a MongoDb database. </p>

    </div>

    <div class="col-12 col-md-6">
      <a class="text-dark" target="_blank" href="https://ew.strangkolby.com/"><img id="ew-logo"
          src="/assets/img/EW-Logo.png" alt="Endless Winter Logo"></a>

      <p class="text-dark">Endless Winter Application</p>
      <p class="text-dark">An application I made as a group in my bootcamp course. It is built with Vue
        on the frontend and .Net C# in the backend and a my MongoDb database. It is still a work in progress as there
        are features to be added beyond the minimum viable product that is hosted here.</p>
    </div>



  </section>

  <section id="contact-form">
    <div class="card my-2">
      <img src="" alt="example" class="rounded-top">
      <div class="card-body">
        <div class="fs-4 fw-bold mb-3">
          Get in touch!
        </div>
        <form class="contact-form" @submit.prevent="submitForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" id="name" required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="email" id="email" required>
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea class="form-control" id="message" required></textarea>
          </div>
          <button class="btn btn-outline-primary mt-2" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </section>
</div>