<div class="container-fluid bg-dark">
    <h1 class="text-light">Welcome to my landing page!</h1>


    <a class="text-light" target="_blank" href="https://keeper.blazejeppesen.com"><img src="/assets/img/keeper-logo.png"
            alt="Keeper Logo"></a>
    <p class="text-light">Keeper Project</p>
    <p class="text-light">A project I made as the final in 12th of 13 week bootcamp course. It is built with Vue on the
        frontend and Dotnet C# in the backend and a my SQL database. </p>
    <a target="_blank" href="https://tower.blazejeppesen.com"><img class="tower-img" src="/assets/img/Tower-Snip.png"
            alt="Tower Image"></a>
    <p class="text-light">Tower Project</p>
    <p class="text-light">This project was the midterm of sorts of the bootcamp and it is built with Vue on the
        frontend and using a backend that is node and a MongoDb database. </p>

    <!-- <a target="_blank" href="https://endlesswinter.strangkolby.com/">
        <p class="red-text">
            This is link to a group site I worked on.
        </p>
    </a> -->

</div>