<div class="container-fluid bg-light">

    <!-- About Me Section -->

    <section class="row justify-content-center bg-secondary p-3">
        <div class="col-6 about text-center rounded p-3">
            <h2>About Me</h2>
            <p>I have a passion for computer coding and have thought about learning to code for most of my life and
                finally decided to learn and went to a bootcamp and got my foundation in coding.
            </p>
        </div>
    </section>
    <!-- Skills Section -->

    <section class="row bg-primary text-light justify-content-center p-3">
        <div class="text-center">
            <h2>My Skills</h2>
        </div>
        <div class="col-2 d-flex justify-content-center bg-danger ">
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>BootStrap</li>
                <li>Vue.JS</li>
                <li>.NET</li>
                <li>MySQL</li>
                <li>C#</li>
                <li>Node</li>
                <li>REST APIs</li>
                <li>Git</li>
                <li>CI/CD</li>
            </ul>
        </div>

        <div class="col-2 d-flex justify-content-center bg-danger ">
            <ul>
                <li>AWS</li>
                <li>OOP</li>
                <li>MVC</li>
                <li>MongoDB</li>
                <li></li>
                <li>MySQL</li>
                <li>C#</li>
                <li>Node</li>
                <li>REST APIs</li>
                <li>Git</li>
                <li>CI/CD</li>
            </ul>


    </section>

    <!-- Apps I have Made -->

    <section class="row">
        <h2 class="text-dark">Apps I have made</h2>
        <div class="col-12 col-md-6">
            <a class="text-dark" target="_blank" href="https://keeper.blazejeppesen.com"><img
                    src="/assets/img/keeper-logo.png" alt="Keeper Logo"></a>

            <p class="text-dark">Keeper Project</p>
            <p class="text-dark">A project I made as the final in 12th of 13 week bootcamp course. It is built with Vue
                on the frontend and .Net C# in the backend and a my SQL database. </p>
        </div>
        <div class="col-12 col-md-6">
            <a target="_blank" href="https://tower.blazejeppesen.com"><img class="tower-img"
                    src="/assets/img/Tower-Snip.png" alt="Tower Image"></a>
            <p class="text-dark">Tower Project</p>
            <p class="text-dark">This project was the midterm of sorts of the bootcamp and it is built with Vue on the
                frontend and using a backend that is node and a MongoDb database. </p>

        </div>

        <a href="#/about"><button>Secondary landing page</button></a>

    </section>


    <!-- <a target="_blank" href="https://endlesswinter.strangkolby.com/">
        <p class="red-text">
            This is link to a group site I worked on.
        </p>
    </a> -->

</div>