<body>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="hero-content text-center">
                    <h1>Hello, I'm Blaze</h1>
                    <h2>Full Stack Web Developer</h2>
                    <p>Professional developer with a passion for learning new things and building useful apps.</p>
                    <p>I have a passion for computer coding and have thought about learning to code for most of my life
                        and
                        finally decided to learn and went to a bootcamp and got my foundation in coding.
                    </p>
                    <button class="btn btn-outline-primary"
                        onClick="document.getElementById('portfolio').scrollIntoView();">My
                        Portfolio</button>
                    <button class="btn btn-outline-danger"
                        onClick="document.getElementById('contact-form').scrollIntoView();">Contact
                        Me</button>
                    <div class="social-links mt-3">
                        <a href="https://www.linkedin.com/in/blaze-jeppesen/" target="_blank">
                            <i class="mdi mdi-linkedin fs-1 ms-3"></i>
                        </a>
                        <a href="https://github.com/blazej686" target="_blank">
                            <i class="mdi mdi-github fs-1 ms-3"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Skills Section -->
        <div id="skills" class="row justify-content-center skills-section">
            <div class="col-md-8">
                <div class="skills-card">
                    <h2 class="text-center">My Skills</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>BootStrap</li>
                                <li>Vue.JS</li>
                                <li>.NET</li>
                                <li>MySQL</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <li>C#</li>
                                <li>Node</li>
                                <li>REST APIs</li>
                                <li>Git</li>
                                <li>CI/CD</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Portfolio Section -->
        <div id="portfolio" class="row justify-content-center portfolio-section">
            <div class="col-md-8">
                <div class="portfolio-card">
                    <h2 class="text-center">My Portfolio</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <a class="text-dark" target="_blank" href="https://keeper.blazejeppesen.com"><img
                                    src="/assets/img/keeper-logo.png" alt="Keeper Logo"></a>
                            <p class="text-dark">Keeper Application</p>
                            <p class="text-dark">An application I made as the final in 12th of 13 week bootcamp course.
                                It is built with
                                Vue on the frontend and .Net C# in the backend and a my SQL database. </p>
                        </div>
                        <div class="col-md-6">
                            <a target="_blank" href="https://tower.blazejeppesen.com"><img class="tower-img rounded"
                                    src="/assets/img/fakeLogo.jpg" alt="Tower Image"></a>
                            <p class="text-dark">Tower Application</p>
                            <p class="text-dark">This application was the midterm of sorts of the bootcamp and it is
                                built with Vue on
                                the frontend and using a backend that is node and a MongoDb database. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Contact Form Section -->
        <div id="contact-form" class="row justify-content-center contact-section">
            <div class="col-md-8">
                <div class="contact-card">
                    <h2 class="text-center">Get in Touch!</h2>
                    <form
                        action="https://docs.google.com/forms/d/e/1FAIpQLSemXKngoX8VkkNi8Re1N-FZ9vKWAdf39z_h8Po4pb28Bp54Zw/formResponse"
                        target="_blank" id="bootstrapForm" method="POST">
                        <fieldset>
                            <legend for="1320378973">Name</legend>
                            <div class="form-group">
                                <input id="1320378973" type="text" name="entry.1320378973" class="form-control"
                                    required>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend for="961038920">Email Address</legend>
                            <div class="form-group">
                                <input id="961038920" type="text" name="entry.961038920" class="form-control" required>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend for="1842197286">Message</legend>
                            <div class="form-group">
                                <textarea id="1842197286" name="entry.1842197286" class="form-control"
                                    required></textarea>
                            </div>
                        </fieldset>

                        <input type="hidden" name="fvv" value="1">
                        <input type="hidden" name="fbzx" value="9152404203380677476">
                        <input type="hidden" name="pageHistory" value="0">

                        <button class="btn btn-outline-primary mt-2" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>